* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding: 0; 
  margin: 0;
  background-color: #fdfaf5;
  position: relative;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e3dfd4;
  z-index: 2;
  
}

li {
  list-style: none;
}

a {
  color: #746b60;
  text-decoration: none;
  font-family: Arial;
  font-weight: 600;
}
a:hover{
  color: #ff6fb2;
}

.container {
  width: 100%;
  margin: auto;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

h1{
  font-family: Arial;
  color: #746b60;
  font-weight: 600;
  text-decoration: none;
  
}
.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

@media (max-width: 991px )
{
  header
  {
    width: 100%;
    
  }
  .nav-menu {
    gap: 30px ;
  }
  .navbar{
    width: 80%;

  }
  .subcontainer{
    width: 90%;
  }
 
  #glcanvas{
    width: 50%;
  }
}


/*____________________ABOUT________________*/
#about{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  align-content: center;
  border: #746b60;
  
  
  
  
}

#about h1{
  text-align: center;
  width: 300px;
  


}

  
.photo1{
  
  float: left;  
  width: 300px;
  position: absolute;
  z-index: 1;
  
  
 
}
.photo2{
  
  float: left;  
  width: 300px;
  position: absolute;
  z-index: 2;
  
}

.photo1 img{
  width: 300px;
  border-radius: 10%;
  min-height: 250px;
  height: auto;
}
.photo2 img{
  width: 300px;
  border-radius: 10%;
  min-height: 250px;
  height: auto;
  opacity: 0%;
  transition: 0.5s;
}
.photo2:hover img{
  opacity: 100%;
}

.photo-box{
  height: 600px;
  width: 330px;
  float: left;
  padding: 10px;
  align-items: center;
  margin: 10px;
  
  

}

.text-box{
  float: left;
  height: 600px;
  width: 330px;  
  font-family: Arial;
  text-align: left;
  font-weight: 300;
  padding: 10px;
  margin: 10px;
  
  

}
@media(max-width: 540px){
  #about{
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      
  }
}



/*------------------------Project---flexbox start------------------*/

.flexbox-container {
  
  margin-top: 80px;
  display: flex;
  justify-content: center ;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: auto;
  border: #746b60;
 
  
  
}

.flexbox-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
 
}

.flexbox-item {
  width: 330px;
  margin-left: 20px;
  min-height: auto;
  margin-bottom: 30px;

  
}
.flexbox-item-4{
  width: 240px;

}
.flexbox-item-1 {
  min-height: 250px;
  

   }
  /*----------------row2---------------*/
  .flexbox-container-3 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
    
    height: 250px;
  }
  .flexbox-container-3 .flexbox-item-2 {
    margin-top: -15%;
    
     }

  .flexbox-container-3 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  

  
  
 /*___________box2___________*/ 

.flexbox-container-2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-content: center;
  overflow: visible;
  height: 100vh;
  

}
.flexbox-item-5 {
  min-height: 400px;
  width: 990px;
  text-align: left;
  font-family: Arial;
  font-weight: 300;
  
}

@media (max-width: 420px){
  
  .flexbox-container{
    height: auto;
    
  }
 

}
.sound-box{
  display: grid;
  place-content: center;
  place-items: center;
  margin-top: 90px;
}



/*--------------------------New-Midea--------------*/

.banner-box {
  font-family: Arial;
  font-weight: 500;  
  text-align: left;
  padding: 10px;
  
  width: 100vh;  
  margin: 30px auto; 
  
   
}
.parent-1{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  flex-wrap: wrap;


}
.child{
  width: 240px;
  height: 426.6px;
  margin-right: 30px;
  display: table;
}

.child video{
  border-radius: 15px;
  
 
  
}
.child-text{
  background-color: antiquewhite;
  font-family: Arial;
  font-weight: 500;  
  padding: 10px;
  width: 240px;  
  border-radius: 15px;
  margin-right: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
   
}
.child-text p{
  text-align: left;
}
.child-text h3{
  text-align: center;
}





/*_____________index--PROJECTS grid___________*/


#projects{
  justify-content: center;
  width: 100%;
  height: 100vh;
  clear: both;
}

#projects h1{
  margin-top: 90px;
  width: 100%;
  margin-left: 4%;
  justify-content: center;

  text-align: center;
  

}

.image-gallery {
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
  align-items: center;
  place-items: center;
  clear: both;
  justify-content: center;
  
}

.image-gallery .image-box {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
  
  border-radius: 10%;
  
}

.image-gallery .image-box:nth-child(7n + 1) {
  grid-column: span 1;
  grid-row: span 1;
}

.image-gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.image-gallery .image-box:hover img {
  transform: scale(1.1);
}

.image-gallery .image-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafaf2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
  border-radius: 10%;
}

.image-gallery .image-box:hover .overlay {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 0.9;
}

.image-gallery .image-box .details {
  text-align: center;
}

.image-gallery .image-box .details .title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .title {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box:hover .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a {
  color: #222222;
  text-decoration: none;
}

/* Let's make it responsive */
@media (max-width: 768px) {

  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e3dfd4;
    z-index: 2;
    
  }
  
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: 250px;
    height: inherit;
    overflow: hidden;
  }

  .image-gallery .image-box:nth-child(7n + 1) {
    grid-column: unset;
    grid-row: unset;
  }
}





/*__________FOOTER____________*/


footer{
  
  width: 100%;
  text-align: center;
  color: #746b60;
  background-color: #e3dfd4;
  padding: 30px; 
  position: fixed;
  bottom: 0; 
  max-width: inherit;
  font-weight: 600;
  z-index: 2;

}


.icons li {
  display: inline;
  font-family: Arial;
  padding-right: 20px;
  cursor: pointer;
}

